<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="noindex, follow">
<meta name="description" content="" />
<meta name="author" content="fabaindaiz" />

{% load static %}
<link rel="icon" type="image/png" href="{% static 'web/img/favicon.ico' %}">

<link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/simple-datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/styles.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'web/css/w3.css' %}">-->

<script src="{% static 'web/js/jquery.min.js' %}"></script>
<script src="{% static 'web/js/font-awesome.all.min.js' %}"></script>