<html lang="es">
<head>
    <title>index</title>
    {% include "web/base.html" %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="server">Server</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="plugin">Plugin</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container p-5 my-5 border">
        {% if plugin %}
        <h2>Plugin : {{ plugin }}</h2><br>
        {% else %}
        <h2>Plugin</h2><br>
        {% endif %}
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-secondary btn-sm" value="Submit" name="PluginForm">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Plugin</th>
                    <th>Version</th>
                    <th>Last Update</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
            {% for plugin in data %}
                <tr>
                    <td>{{ plugin.plugin }}</td>
                    <td>{{ plugin.version }}</td>
                    <td>{{ plugin.update_date }}</td>
                    <td><a href="/backend/file?id={{ plugin.id }}">Click</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>