<html lang="es">
<head>
    <title>Plugin: {{ plugin }}</title>
    {% include "web/base_header.html" %}
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        {% include "web/base_sidenav.html" %}
        <div id="layoutSidenav_content">
            <div class="container">

                <div class="card mt-4 mb-4">
                    <div class="card-header"><h1 class="text-center font-weight-light my-2">Plugin: {{ plugin }}</h1></div>
                    <div class="card-body">
                        <form action="" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="row">
                                {% for field in form.visible_fields %}
                                    <div class="mb-2 mt-2 col">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-2">
                                <label></label>
                                <input type="submit"class="btn btn-primary btn-lg" value="Submit" name="PluginDetailsForm">
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div class="card mt-4 mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table class="table" id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Plugin</th>
                                    <th>Version</th>
                                    <th>Last Update</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Plugin</th>
                                    <th>Version</th>
                                    <th>Last Update</th>
                                    <th>Download</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for plugin in data %}
                                <tr>
                                    <td>{{ plugin.plugin }}</td>
                                    <td>{{ plugin.version }}</td>
                                    <td>{{ plugin.update_date }}</td>
                                    <td><a href="/backend/file?id={{ plugin.id }}">Click</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "web/base_footer.html" %}
</body>
</html>